/*img {
    height: 1em;
    width: auto;
    display: inline-block;
    } */
    img {
        float: left;
        width:  100px;
        height: 100px;
        object-fit: cover;
    }
    .autobutton {
        
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 170px;
            cursor: pointer;
          
    }
    